
@font-face {
  font-family: "San Francisco";
  src: url("../fonts/san.otf");
}
@font-face {
    font-family: Thin; /* Имя шрифта */
    src: url(../fonts/thin.otf); /* Путь к файлу со шрифтом */
   }
#ruletka {


    margin-left: 25vw;
width: 45vw;
-webkit-animation-name: rotation;
-webkit-animation-duration: 1s;
-webkit-animation-iteration-count: 2;
-webkit-animation-timing-function: linear;
-moz-animation-name: rotation;
-moz-animation-duration: 1s;
-moz-animation-iteration-count: 2;
-moz-animation-timing-function: linear;
-o-animation-name: rotation;
-o-animation-duration: 1s;
-o-animation-iteration-count: 2;
-o-animation-timing-function: linear;
 animation-name: rotation;
 animation-duration: 1s;
 animation-iteration-count: 2;
 animation-timing-function: linear;
}

@-webkit-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(720deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}

}
@-moz-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(720deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}

}
@-o-keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(720deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}

}
@keyframes rotation {
    0% {-webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        transform:rotate(0deg);}
    100% {-webkit-transform:rotate(360deg);
        -moz-transform:rotate(720deg);
        -o-transform:rotate(360deg);
        transform:rotate(360deg);}

}

#wraproullet{
position: absolute;

}


#shadow{

  position:absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: black;
   opacity: 0;

}
.fontr{
font-family: San Francisco;
font-size: calc(1.5vw + 1.5vh + 1.5vmin);
color: white;
margin-left:40vw;
}
.animation{
animation-name: animation;
animation-duration: 1s;
animation-delay: 2s;
animation-fill-mode: both;
}
@keyframes animation {
  100%{
opacity: 0.98;
  }
}
#continue{
cursor: pointer;
border: 1px solid white ;
font-size: calc(1.2vw + 1.2vh + 1.2vmin);

padding-top: 1vh;
padding-left: 2.5vh;
padding-bottom: 1vh;
padding-right: 2.5vh;
position: absolute;


}
P {
    line-height: 1vw;
   }
   #result{
     position: absolute;
      left: -1px;
      width: 100%;
      height: 45vh;
margin-top: 25vh;
padding-top: 3vh;
border: 1px solid white;

   }
