#fon3 {
    
    
    animation-delay: 2s;
    animation-name: example;
    animation-duration: 15s;
      
   
   animation-fill-mode: both;
}

@keyframes example {
   from {left:0px;}
    to {opacity:0; left:2000px;}
    
   
}
#fon2 {
    
    
   
    animation-name: test;
    animation-duration: 15s;
    animation-delay: 10s;
    
     animation-fill-mode: both;
   
   
   
}

@keyframes test {
    
    
    from {left:0px;}
    to {opacity:0; left:2000px;}
}