* {
  margin: 0;
  padding: 0;
}


html {
overflow-x: hidden;
overflow-y: hidden;
height: 100%;

}
body {
background-image: url(../img/dost.jpg);
background-size: cover;
background-origin: content-box;
background-repeat: no-repeat;
 height: 100%;

}
@font-face {
    font-family: Thin; /* Имя шрифта */
    src: url(../fonts/thin.otf); /* Путь к файлу со шрифтом */
   }
 #brand{

font-family: Thin;
font-size: calc(1.5vw + 1.5vh + 1.5vmin);
margin-left: 40vw ;
margin-top: 1vh ;

 }
 #brand2{

font-family: Thin;
font-size: calc(0.7vw + 0.7vh + 0.7vmin);
margin-left: 37vw ;
margin-top: 1vh ;

 }
 #navigation {
margin-top: 5vh;
margin-left: 20vw;



 }
 .font-nav{
 	border: 1px solid black;
 	padding-top: 1vh;
 	padding-left: 2.5vh;
 	padding-bottom: 1vh;
 	padding-right: 2.5vh;
 	margin-left: 5vw;
font-family: Thin;
font-size: calc(0.78vw + 0.78vh + 0.78vmin);
 	color:black;
 text-decoration: none;
 }
 #wrapper {
  position: relative;
  min-height: 100%;
}
 footer{


 height: -webkit-calc(100vh - 90%); /* для Google Chome и Safari */ 
  height: calc(100vh - 90%);
position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

background-color: black;
opacity: 0.5;

 }
 #buy{

 	
 	margin-left: 30vw;
font-size: calc(0.95vw + 0.95vh + 0.95vmin);
border: 1px solid black;
 	padding-top: 2vh;
 	padding-left: 2vw;
 	padding-bottom: 2vh;
 	padding-right: 2vw;
 font-family: Thin;

 color:black;
 background-color: #e2ac5c;
 opacity: 0.75;
 text-decoration: none;
 }
 #buy1{

position: absolute;
  top: calc(100vh - 25%);
 }

.fa-vk{
	text-decoration:none; 
	margin-top: 10px;

color:white;
font-size: calc(1.7vw + 1.7vh + 1.7vmin);

}

.fa-instagram{
	text-decoration:none;
	margin-top: 10px;
	margin-left:3vw; 

color:white;
font-size: calc(1.45vw + 1.45vh + 1.45vmin);

}
.fa-facebook{
	text-decoration:none;
	margin-top: 10px;
	margin-left:3vw; 

color:white;
font-size: calc(1.45vw + 1.45vh + 1.45vmin);

}
.fa-youtube{
	text-decoration:none;
	margin-top: 10px;
	margin-left:3vw; 

color:white;
font-size: calc(1.45vw + 1.45vh + 1.45vmin);

}
#seti{
	position: absolute;
	left: 35vw;

}