
@media  (orientation:portrait)  {
 body {

background-image: url(../img/mob/dost.jpg);
background-size: contain;
background-origin: content-box;
background-repeat: no-repeat;
 height: 100%;

}
#navigation {
margin-top: 5vh;
margin-left: 15vw;



 }

#buy1{

position: absolute;
  top: calc(100vh - 20%);
 }
.fa-vk{
	text-decoration:none; 
	margin-top: 3vh;

color:white;
font-size: calc(1.7vw + 1.7vh + 1.7vmin);

}

.fa-instagram{
	text-decoration:none;
	margin-top: 3vh;
	margin-left:3vw; 

color:white;
font-size: calc(1.45vw + 1.45vh + 1.45vmin);

}
.fa-facebook{
	text-decoration:none;
	margin-top: 3vh;
	margin-left:3vw; 

color:white;
font-size: calc(1.45vw + 1.45vh + 1.45vmin);

}
.fa-youtube{
	text-decoration:none;
	margin-top: 3vh;
	margin-left:3vw; 

color:white;
font-size: calc(1.45vw + 1.45vh + 1.45vmin);

}
}
